@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

.container {
  background-color: hsl(0, 0%, 12%);
  padding: 30px;
  padding-top: 50px;
  width: 400px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
}

@media(max-width:480px) {
  .container {
    width: 85%;
  }
}

img {
  border-radius: 50%;
  width: 120px;
}

h2 {
  margin-bottom: -8px;
}

p {
  font-size: 14px;
}

p:nth-of-type(1) {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
}

p:nth-of-type(2) {
  margin: 18px 0px;
}

.social {
  padding: 18px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  margin-bottom: 14px;
  cursor: pointer;
  font-weight: bold;
}

.social:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  transition: .5s;
}
